@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200;
  }

  .dark body {
    @apply bg-black text-gray-100;
  }
}

